{
  "openapi": "3.1.0",
  "info": {
    "version": "3",
    "title": "External API"
  },
  "servers": [
    {
      "url": "https://liqpay.ua"
    }
  ],
  "paths": {
    "/information/register/compensation_per_day": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version",
                  "public_key",
                  "action"
                ],
                "properties": {
                  "version": {
                    "default": 3,
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "reports_compensation"
                    ],
                    "examples": [
                      "reports_compensation"
                    ]
                  },
                  "compensation_id": {
                    "type": "string",
                    "description": "compensation_id of enrollment",
                    "examples": [
                      "200000007"
                    ]
                  },
                  "resp_format": {
                    "default": "json",
                    "type": "string",
                    "enum": [
                      "json",
                      "csv",
                      "xml"
                    ],
                    "description": "Report format",
                    "examples": [
                      "json"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "If parameter is unknown `compensation_id`, then date by which you need to get a list `compensation_id`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error",
                        "success"
                      ],
                      "description": "The result of a request",
                      "examples": [
                        "ok",
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "action": {
                                "type": "string",
                                "enum": [
                                  "pay",
                                  "hold",
                                  "paysplit",
                                  "subscribe",
                                  "paydonate",
                                  "auth",
                                  "regular"
                                ],
                                "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `paysplit` - splitting payments\n* `subscribe` - creation of a regular payment\n* `paydonate` - donation\n* `auth` - card preauth\n* `regular` - regular payment",
                                "examples": [
                                  "pay"
                                ]
                              },
                              "authcode_debit": {
                                "type": "string",
                                "description": "Authorization code for transaction of debit",
                                "examples": [
                                  "784593"
                                ]
                              },
                              "bonus_type": {
                                "type": "string",
                                "enum": [
                                  "bonusplus",
                                  "discount_club",
                                  "personal",
                                  "promo"
                                ],
                                "description": "Bonus type, ",
                                "examples": [
                                  null
                                ]
                              },
                              "channel": {
                                "type": "string",
                                "enum": [
                                  "checkout",
                                  "checkoutjs",
                                  "api"
                                ],
                                "description": "Payment channel, ",
                                "examples": [
                                  "checkout"
                                ]
                              },
                              "create_date": {
                                "type": "string",
                                "format": "date-time-liqpay",
                                "description": "Date of payment creation",
                                "examples": [
                                  "2017-01-31 07:51:37"
                                ]
                              },
                              "customer": {
                                "type": "string",
                                "description": "Unique customer ID in your shop",
                                "maxLength": 100,
                                "examples": [
                                  null
                                ]
                              },
                              "description": {
                                "type": "string",
                                "description": "Payment description",
                                "examples": [
                                  "My product"
                                ]
                              },
                              "end_date": {
                                "type": "string",
                                "format": "date-time-liqpay",
                                "description": "Date of payment edition/end",
                                "examples": [
                                  "2017-01-31 07:51:54"
                                ]
                              },
                              "id": {
                                "type": "number",
                                "description": "Payment id in LiqPay system",
                                "examples": [
                                  107866
                                ]
                              },
                              "ip": {
                                "type": "string",
                                "description": "Sender's IP address",
                                "examples": [
                                  "8.8.8.8"
                                ]
                              },
                              "liqpay_order_id": {
                                "type": "string",
                                "description": "Payment order_id in LiqPay system",
                                "examples": [
                                  "J4L8IRG81485849105029639"
                                ]
                              },
                              "order_id": {
                                "type": "string",
                                "description": "Order_id payment",
                                "examples": [
                                  "98R1U1OV1485849059893399"
                                ]
                              },
                              "paytype": {
                                "type": "string",
                                "enum": [
                                  "card",
                                  "privat24",
                                  "masterpass",
                                  "moment_part",
                                  "cash",
                                  "invoice",
                                  "qr"
                                ],
                                "description": "Methods of payment. Possible values:\n* `card` - card payment\n* `privat24` - with privat24 account\n* `masterpass` - with masterpass account\n* `moment_part` - installments\n* `cash` - cash\n* `invoice` - to email\n* `qr` - qr code scanning",
                                "examples": [
                                  "liqpay"
                                ]
                              },
                              "sender_card": {
                                "type": "string",
                                "description": "Sender's card",
                                "examples": [
                                  "5168 **** **** **16"
                                ]
                              },
                              "sender_card_bank": {
                                "type": "string",
                                "description": "Sender's card bank",
                                "examples": [
                                  "pb"
                                ]
                              },
                              "sender_card_country": {
                                "type": "string",
                                "description": "Sender's card country. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)",
                                "examples": [
                                  804
                                ]
                              },
                              "sender_card_product_type": {
                                "type": "string",
                                "description": "Type of card product",
                                "examples": [
                                  "KDV"
                                ]
                              },
                              "sender_card_type": {
                                "type": "string",
                                "description": "Sender's card type MC/Visa",
                                "examples": [
                                  "mc"
                                ]
                              },
                              "sender_email": {
                                "type": "string",
                                "description": "Email payer",
                                "examples": [
                                  null
                                ]
                              },
                              "sender_first_name": {
                                "type": "string",
                                "description": "The name of the sender",
                                "examples": [
                                  "test"
                                ]
                              },
                              "sender_last_name": {
                                "type": "string",
                                "description": "Sender's last name",
                                "examples": [
                                  "test"
                                ]
                              },
                              "sender_phone": {
                                "type": "string",
                                "description": "Sender's phone number",
                                "examples": [
                                  "380950000001"
                                ]
                              },
                              "trans_amount": {
                                "type": "number",
                                "description": "The amount of the transaction",
                                "examples": [
                                  1.0
                                ]
                              },
                              "trans_bonus": {
                                "type": "number",
                                "description": "The amount of the bonus for the transaction",
                                "examples": [
                                  0.0
                                ]
                              },
                              "trans_currency": {
                                "type": "string",
                                "description": "Transaction currency",
                                "examples": [
                                  "UAH"
                                ]
                              },
                              "trans_fee_credit": {
                                "type": "number",
                                "description": "The amount of the loan transaction commission",
                                "examples": [
                                  0.03
                                ]
                              },
                              "trans_fee_debit": {
                                "type": "number",
                                "description": "The amount of the debit transaction commission",
                                "examples": [
                                  0.0
                                ]
                              },
                              "trans_total": {
                                "type": "number",
                                "description": "The amount of reimbursement of the company",
                                "examples": [
                                  0.97
                                ]
                              },
                              "trans_type": {
                                "type": "string",
                                "enum": [
                                  "reverse",
                                  "hold_compl",
                                  "purchase",
                                  "refund"
                                ],
                                "description": "Transaction type",
                                "examples": [
                                  "purchase"
                                ]
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "compensation_id": {
                                "type": "string",
                                "description": "compensation_id of enrollment",
                                "examples": [
                                  91330
                                ]
                              },
                              "create_date": {
                                "type": "string",
                                "format": "date-time-liqpay",
                                "examples": [
                                  "2016-11-15 00:02:14"
                                ]
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/information/register/compensation_per_transaction": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "format",
                  "date"
                ],
                "properties": {
                  "version": {
                    "default": 3,
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "register"
                    ],
                    "examples": [
                      "register"
                    ]
                  },
                  "format": {
                    "type": "string",
                    "description": "Possible report format `json`, `csv`, `xml`",
                    "examples": [
                      "json"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Date for which the registry will be uploaded",
                    "examples": [
                      "2017-01-31"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error",
                        "success"
                      ],
                      "description": "The result of a request",
                      "examples": [
                        "ok"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "enum": [
                              "pay",
                              "hold",
                              "paysplit",
                              "subscribe",
                              "paydonate",
                              "auth",
                              "regular"
                            ],
                            "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `paysplit` - splitting payments\n* `subscribe` - creation of a regular payment\n* `paydonate` - donation\n* `auth` - card preauth\n* `regular` - regular payment",
                            "examples": [
                              "pay"
                            ]
                          },
                          "authcode_debit": {
                            "type": "string",
                            "description": "Authorization code for transaction of debit",
                            "examples": [
                              "784593"
                            ]
                          },
                          "bonus_type": {
                            "type": "string",
                            "enum": [
                              "bonusplus",
                              "discount_club",
                              "personal",
                              "promo"
                            ],
                            "description": "Bonus type, ",
                            "examples": [
                              null
                            ]
                          },
                          "channel": {
                            "type": "string",
                            "enum": [
                              "checkout",
                              "checkoutjs",
                              "api"
                            ],
                            "description": "Payment channel, ",
                            "examples": [
                              "checkout"
                            ]
                          },
                          "create_date": {
                            "type": "string",
                            "format": "date-time-liqpay",
                            "description": "Date of payment creation",
                            "examples": [
                              "2017-01-31 07:51:37"
                            ]
                          },
                          "customer": {
                            "type": "string",
                            "description": "Unique customer ID in your shop",
                            "maxLength": 100,
                            "examples": [
                              null
                            ]
                          },
                          "description": {
                            "type": "string",
                            "description": "Payment description",
                            "examples": [
                              "My product"
                            ]
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date-time-liqpay",
                            "description": "Date of payment edition/end",
                            "examples": [
                              "2017-01-31 07:51:54"
                            ]
                          },
                          "id": {
                            "type": "number",
                            "description": "Payment id in LiqPay system",
                            "examples": [
                              107866
                            ]
                          },
                          "ip": {
                            "type": "string",
                            "description": "Sender's IP address",
                            "examples": [
                              "8.8.8.8"
                            ]
                          },
                          "liqpay_order_id": {
                            "type": "string",
                            "description": "Payment order_id in LiqPay system",
                            "examples": [
                              "J4L8IRG81485849105029639"
                            ]
                          },
                          "order_id": {
                            "type": "string",
                            "description": "Order_id payment",
                            "examples": [
                              "98R1U1OV1485849059893399"
                            ]
                          },
                          "paytype": {
                            "type": "string",
                            "enum": [
                              "card",
                              "privat24",
                              "masterpass",
                              "moment_part",
                              "cash",
                              "invoice",
                              "qr"
                            ],
                            "description": "Methods of payment. Possible values:\n* `card` - card payment\n* `privat24` - with privat24 account\n* `masterpass` - with masterpass account\n* `moment_part` - installments\n* `cash` - cash\n* `invoice` - to email\n* `qr` - qr code scanning",
                            "examples": [
                              "liqpay"
                            ]
                          },
                          "sender_card": {
                            "type": "string",
                            "description": "Sender's card",
                            "examples": [
                              "5168 **** **** **16"
                            ]
                          },
                          "sender_card_bank": {
                            "type": "string",
                            "description": "Sender's card bank",
                            "examples": [
                              "pb"
                            ]
                          },
                          "sender_card_country": {
                            "type": "string",
                            "description": "Sender's card country. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)",
                            "examples": [
                              804
                            ]
                          },
                          "sender_card_product_type": {
                            "type": "string",
                            "description": "Type of card product",
                            "examples": [
                              "KDV"
                            ]
                          },
                          "sender_card_type": {
                            "type": "string",
                            "description": "Sender's card type MC/Visa",
                            "examples": [
                              "mc"
                            ]
                          },
                          "sender_email": {
                            "type": "string",
                            "description": "Email payer",
                            "examples": [
                              null
                            ]
                          },
                          "sender_first_name": {
                            "type": "string",
                            "description": "The name of the sender",
                            "examples": [
                              "test"
                            ]
                          },
                          "sender_last_name": {
                            "type": "string",
                            "description": "Sender's last name",
                            "examples": [
                              "test"
                            ]
                          },
                          "sender_phone": {
                            "type": "string",
                            "description": "Sender's phone number",
                            "examples": [
                              "380950000001"
                            ]
                          },
                          "trans_amount": {
                            "type": "number",
                            "description": "The amount of the transaction",
                            "examples": [
                              1.0
                            ]
                          },
                          "trans_bonus": {
                            "type": "number",
                            "description": "The amount of the bonus for the transaction",
                            "examples": [
                              0.0
                            ]
                          },
                          "trans_currency": {
                            "type": "string",
                            "description": "Transaction currency",
                            "examples": [
                              "UAH"
                            ]
                          },
                          "trans_fee_credit": {
                            "type": "number",
                            "description": "The amount of the loan transaction commission",
                            "examples": [
                              0.03
                            ]
                          },
                          "trans_fee_debit": {
                            "type": "number",
                            "description": "The amount of the debit transaction commission",
                            "examples": [
                              0.0
                            ]
                          },
                          "trans_total": {
                            "type": "number",
                            "description": "The amount of reimbursement of the company",
                            "examples": [
                              0.97
                            ]
                          },
                          "trans_type": {
                            "type": "string",
                            "enum": [
                              "reverse",
                              "hold_compl",
                              "purchase",
                              "refund"
                            ],
                            "description": "Transaction type",
                            "examples": [
                              "purchase"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/information/register/compensation_report": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version",
                  "public_key",
                  "action"
                ],
                "properties": {
                  "version": {
                    "default": 3,
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)",
                    "examples": [
                      "i123456789"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "reports_compensation_file"
                    ],
                    "examples": [
                      "reports_compensation_file"
                    ]
                  },
                  "compensation_id": {
                    "type": "string",
                    "description": "compensation_id of funds crediting posting"
                  },
                  "resp_format": {
                    "type": "string",
                    "enum": [
                      "csv"
                    ],
                    "examples": [
                      "csv"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "If the `compensation_id` parameter is unknown, the payment date for which you want to receive the registry is being passed",
                    "examples": [
                      "2021-11-23"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "register_token",
                    "result",
                    "status"
                  ],
                  "properties": {
                    "register_token": {
                      "type": "string",
                      "description": "Parameter received on the previous request",
                      "examples": [
                        "compensation_i123456789_2021.11.23.csv"
                      ]
                    },
                    "result": {
                      "type": "string",
                      "description": "The result of the request",
                      "examples": [
                        "ok"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "Request processing status",
                      "examples": [
                        "processing"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/information/register/compensation_report_status": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "register_token"
                ],
                "properties": {
                  "version": {
                    "default": 3,
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)",
                    "examples": [
                      "i123456789"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "reports_compensation_file_status"
                    ],
                    "examples": [
                      "reports_compensation_file_status"
                    ]
                  },
                  "register_token": {
                    "type": "string",
                    "description": "Parameter received on the previous request",
                    "examples": [
                      "compensation_i123456789_2021.11.23.csv"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filelink": {
                      "type": "string",
                      "format": "uri",
                      "description": "File URL",
                      "examples": [
                        "https://liqpay-merchant-reports-eu-west-1-production-1.s3-eu-west-1.amazonaws.com/reports/compensation_i63896222463_2021.11.23.csv?AWSAccessKeyId=ASIA4G3XTFOZJ5WF5PWB&Signature=P8RLb6u6%2BRKJkLRk6HjhQlZQ2T4%3D&Expires=1639738263&x-amz-security-token=IQoJb3JpZ2luX2VjELn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQC%2BOZ8y2wDz%2B2a9C8952BazFTCpQpT9OX5cUNF1CcBwzQIhAIPuroQCLJMT9g3PbN%2B4Dk8KXg%2BJb2eZIbYIFYm7A4qdKvADCKL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQAhoMODM5MzgwMDUyOTE0IgyXUwg7va32HEQ8W5MqxAOghwqrPEpTnH6dLG9toIM8HGhlggL5bFAVI0%2FEE7N1jZRrlyL3455spFAZcAYcROwLnJXzW%2FndQR0QGKKasO6pMW%2B9u8n%2BRUrN6p5kHV4lU9%2BjVb5x2RsMaSjm9Klio8KnB8o5H7CnsTpGEjeAc3ZmeKS10nSSUh4%2FheANMdQVXMCOoba4oqPOxWAIS1dY7tLNrVEgaqhzXhsbK8j0FwwJESYa%2Fq6cN%2FxcnSVq60wUQhRlqaxQr%2FijbXKnprz9Bs0jgvTYF65yPiIKXQ%2B4bYyxR8geOb5c%2BlfFVMFC%2FRyMT1q7r6K7yVuNXxSN3Y%2BeNOR%2FbvDCL9%2Fu3TqNCBHVR3HWPY9P%2BdnF0wjvDS4sDvDEx7V%2Fx%2F%2B52e4flwqgPhAbJrjDqR0dWVuJgwpPfJFjpMVqQ80QPcEEABYY6YycQgNjoSKqdHjLyghykagoV8DAMiNpJciyCb8DMMAv7Cn5%2FCteeYoZevftP%2FIzyZMR9AErQdCTaAL6Db4PAu%2BInbca1sNkWW1HB0DrdonovpFffSXYBHgZMAmij2pD8RmYHvVu9PoPyBR2fRUbZdtoXdaI0Sp7lFlF1hJ1bkgMvjQRPMU0XURvjzCXkvGNBjqkAbiCqn%2F%2BCI%2B9sPSVdCvg7W3oOVsGViKrQmI2SA%2F%2FrJH%2B243LI9iJ7fM4nv5iDTqkpSuy4lYRpX737ZszaJR%2BtRZ1C%2BmGu%2FQjRl0P9mlpCq5qTheOOM9CDvqxu64MiPpgHab4PCATr3i4u8wrTkHhclID4Qx9SU6TyxH0d2OsyngMxjKe3K9wWqkUtQh8FYDKAiPyp3eY99ZGd322XLDdG35CNFCf"
                      ]
                    },
                    "result": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ],
                      "description": "The result of a request",
                      "examples": [
                        "ok"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "error",
                        "success"
                      ],
                      "description": "The status of a request. Possible values:\n* `processing` - on processing, the file is being formed\n* `error` - an error occurred during download, we recommend checking the request data and repeat (in case of repeated error, contact LiqPay support)\n* `success` - successful request",
                      "examples": [
                        "success"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/information/register/compensation_report_p2p": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version",
                  "public_key",
                  "action"
                ],
                "properties": {
                  "version": {
                    "default": 3,
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)",
                    "examples": [
                      "i123456789"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "reports_compensation_file"
                    ],
                    "examples": [
                      "reports_compensation_file"
                    ]
                  },
                  "resp_format": {
                    "default": "csv",
                    "type": "string",
                    "enum": [
                      "csv"
                    ],
                    "description": "Report format",
                    "examples": [
                      "csv"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Date for which the registry will be uploaded",
                    "examples": [
                      "2021-11-23"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "p2p",
                      "p2pcredit"
                    ],
                    "description": "Type of operation. Possible values:\n* `p2p` - for operations of type p2pdebit\n* `p2pcredit` - for operations of type p2pcredit (default \"acquiring\")",
                    "examples": [
                      "p2p"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "register_token",
                    "result",
                    "status"
                  ],
                  "properties": {
                    "register_token": {
                      "type": "string",
                      "description": "Parameter received on the previous request",
                      "examples": [
                        "register_i11301247803_105267.csv"
                      ]
                    },
                    "result": {
                      "type": "string",
                      "description": "The result of the request",
                      "examples": [
                        "ok"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "Request processing status",
                      "examples": [
                        "processing"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/information/register/compensation_report_p2p_status": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "register_token"
                ],
                "properties": {
                  "version": {
                    "default": 3,
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)",
                    "examples": [
                      "i123456789"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "reports_compensation_file_status"
                    ],
                    "examples": [
                      "reports_compensation_file_status"
                    ]
                  },
                  "register_token": {
                    "type": "string",
                    "description": "Parameter received on the previous request",
                    "examples": [
                      "compensation_i123456789_2021.11.23.csv"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filelink": {
                      "type": "string",
                      "format": "uri",
                      "description": "File URL",
                      "examples": [
                        "https://liqpay-merchant-reports-eu-west-1-production-1.s3-eu-west-1.amazonaws.com/reports/compensation_i63896222463_2021.11.23.csv?AWSAccessKeyId=ASIA4G3XTFOZJ5WF5PWB&Signature=P8RLb6u6%2BRKJkLRk6HjhQlZQ2T4%3D&Expires=1639738263&x-amz-security-token=IQoJb3JpZ2luX2VjELn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQC%2BOZ8y2wDz%2B2a9C8952BazFTCpQpT9OX5cUNF1CcBwzQIhAIPuroQCLJMT9g3PbN%2B4Dk8KXg%2BJb2eZIbYIFYm7A4qdKvADCKL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQAhoMODM5MzgwMDUyOTE0IgyXUwg7va32HEQ8W5MqxAOghwqrPEpTnH6dLG9toIM8HGhlggL5bFAVI0%2FEE7N1jZRrlyL3455spFAZcAYcROwLnJXzW%2FndQR0QGKKasO6pMW%2B9u8n%2BRUrN6p5kHV4lU9%2BjVb5x2RsMaSjm9Klio8KnB8o5H7CnsTpGEjeAc3ZmeKS10nSSUh4%2FheANMdQVXMCOoba4oqPOxWAIS1dY7tLNrVEgaqhzXhsbK8j0FwwJESYa%2Fq6cN%2FxcnSVq60wUQhRlqaxQr%2FijbXKnprz9Bs0jgvTYF65yPiIKXQ%2B4bYyxR8geOb5c%2BlfFVMFC%2FRyMT1q7r6K7yVuNXxSN3Y%2BeNOR%2FbvDCL9%2Fu3TqNCBHVR3HWPY9P%2BdnF0wjvDS4sDvDEx7V%2Fx%2F%2B52e4flwqgPhAbJrjDqR0dWVuJgwpPfJFjpMVqQ80QPcEEABYY6YycQgNjoSKqdHjLyghykagoV8DAMiNpJciyCb8DMMAv7Cn5%2FCteeYoZevftP%2FIzyZMR9AErQdCTaAL6Db4PAu%2BInbca1sNkWW1HB0DrdonovpFffSXYBHgZMAmij2pD8RmYHvVu9PoPyBR2fRUbZdtoXdaI0Sp7lFlF1hJ1bkgMvjQRPMU0XURvjzCXkvGNBjqkAbiCqn%2F%2BCI%2B9sPSVdCvg7W3oOVsGViKrQmI2SA%2F%2FrJH%2B243LI9iJ7fM4nv5iDTqkpSuy4lYRpX737ZszaJR%2BtRZ1C%2BmGu%2FQjRl0P9mlpCq5qTheOOM9CDvqxu64MiPpgHab4PCATr3i4u8wrTkHhclID4Qx9SU6TyxH0d2OsyngMxjKe3K9wWqkUtQh8FYDKAiPyp3eY99ZGd322XLDdG35CNFCf"
                      ]
                    },
                    "result": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ],
                      "description": "The result of a request",
                      "examples": [
                        "ok"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "error",
                        "success"
                      ],
                      "description": "The status of a request. Possible values:\n* `processing` - on processing, the file is being formed\n* `error` - an error occurred during download, we recommend checking the request data and repeat (in case of repeated error, contact LiqPay support)\n* `success` - successful request",
                      "examples": [
                        "success"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}