{
  "openapi": "3.1.0",
  "info": {
    "version": "3",
    "title": "External API"
  },
  "servers": [
    {
      "url": "https://liqpay.ua"
    }
  ],
  "paths": {
    "/api/request?path=partnership%2Finfo_merchant": {
      "post": {
        "summary": "Partner's. Information about company",
        "operationId": "partnership/info_merchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "example": 3,
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public_key of agent shop"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "agent_info_merchant"
                    ],
                    "default": "agent_info_merchant",
                    "example": "agent_info_merchant",
                    "examples": [
                      "agent_info_merchant"
                    ]
                  },
                  "merchant_public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)",
                    "example": "i3111000000",
                    "examples": [
                      "i3111000000"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "merchant_public_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": {
                      "type": "boolean",
                      "description": "Company block status"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "Full company name"
                    },
                    "create_date": {
                      "type": "integer",
                      "format": "timestamp-ms",
                      "description": "Date of company creation",
                      "example": 1501764124764,
                      "examples": [
                        1501764124764
                      ]
                    },
                    "description": {
                      "type": "string",
                      "description": "Company description",
                      "example": "site description",
                      "examples": [
                        "site description"
                      ]
                    },
                    "email": {
                      "type": "string",
                      "description": "The company's email",
                      "example": "test@gmail.com",
                      "examples": [
                        "test@gmail.com"
                      ]
                    },
                    "logo": {
                      "type": "string",
                      "description": "Company's logo"
                    },
                    "mfo": {
                      "type": "string",
                      "description": "Company accounts MFI"
                    },
                    "name": {
                      "type": "string",
                      "description": "Company name",
                      "example": "Site name",
                      "examples": [
                        "Site name"
                      ]
                    },
                    "okpo": {
                      "type": "string",
                      "description": "Company accounts OKPO"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Company phone number",
                      "example": "380950000001",
                      "examples": [
                        "380950000001"
                      ]
                    },
                    "public_key": {
                      "type": "string",
                      "description": "Shop public key",
                      "example": "i000000000",
                      "examples": [
                        "i000000000"
                      ]
                    },
                    "refund_number": {
                      "type": "string",
                      "description": "The number of the card / account / terminal of the company where the compensation was paid",
                      "example": "4731180000000001",
                      "examples": [
                        "4731180000000001"
                      ]
                    },
                    "refund_way": {
                      "type": "string",
                      "description": "The way in which the refund takes place",
                      "example": "card",
                      "examples": [
                        "card"
                      ]
                    },
                    "result": {
                      "type": "string",
                      "description": "The result of a request `ok` or `error`",
                      "example": "ok",
                      "examples": [
                        "ok"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "activated",
                        "wait_accept"
                      ],
                      "description": "Possible values:\n* `activated` - the store is activated with refund\n* `wait_accept` - the store is activated without refund"
                    },
                    "status_description": {
                      "type": "string",
                      "description": "The description of the error (the language of the error depends on the language parameter)"
                    },
                    "comment": {
                      "type": "string",
                      "description": "Comment from the MEO operator"
                    },
                    "link": {
                      "type": "string",
                      "description": "Link to the merchant's LiqPay Business Cabinet"
                    },
                    "update_date": {
                      "type": "integer",
                      "format": "timestamp-ms",
                      "description": "Date of information update on the company",
                      "example": 1501764124764,
                      "examples": [
                        1501764124764
                      ]
                    },
                    "url": {
                      "type": "string",
                      "description": "URL of company",
                      "example": "site123.site.com",
                      "examples": [
                        "site123.site.com"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}