{
  "openapi": "3.1.0",
  "info": {
    "version": "3",
    "title": "External API"
  },
  "servers": [
    {
      "url": "https://liqpay.ua"
    }
  ],
  "paths": {
    "/api/request": {
      "post": {
        "summary": "Partner's. Company creation. Company creation create",
        "operationId": "partnership/shop_create/create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "agent_shop_create"
                    ],
                    "examples": [
                      "agent_shop_create"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Store description",
                    "examples": [
                      "site description"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "description": "Store email",
                    "examples": [
                      "email@gmail.com"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Store name (uk, en)",
                    "examples": [
                      "Site name"
                    ]
                  },
                  "phone": {
                    "type": "string",
                    "description": "Shop phone number",
                    "examples": [
                      "+380950000001",
                      "380950000001"
                    ]
                  },
                  "site": {
                    "type": "string",
                    "description": "Store URL",
                    "examples": [
                      "agent1.site.com"
                    ]
                  },
                  "iban": {
                    "type": "string",
                    "maxLength": 34,
                    "description": "IBAN to receive payments in this store"
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name (uk, en)"
                  },
                  "okpo": {
                    "type": "string",
                    "description": "OKPO account"
                  },
                  "amount_procent_agent": {
                    "type": "number",
                    "description": "Agent fee in %"
                  },
                  "amount_static_agent": {
                    "type": "number",
                    "description": "Agent static fee"
                  },
                  "currency_static_agent": {
                    "type": "string",
                    "description": "Currency of agent static fee"
                  },
                  "can_reports": {
                    "type": "string",
                    "description": "Allows the owner of the main company to view the payment history of the created company, pass the value `true`"
                  },
                  "can_checkout_edit": {
                    "type": "string",
                    "description": "Allows the owner of the main company to edit the payment page settings of the company created, pass the value `true`"
                  },
                  "logo": {
                    "type": "string",
                    "description": "URL shop logo"
                  },
                  "public_phone": {
                    "type": "string",
                    "description": "Shop public phone number"
                  },
                  "aggregator": {
                    "type": "object",
                    "properties": {
                      "law_okpo": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "USREOU of an enterprise"
                      },
                      "law_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Enterprise name"
                      },
                      "law_iban": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Iban of an enterprise"
                      },
                      "law_contacts": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "Contact number of an enterprise"
                          },
                          "email": {
                            "type": "string",
                            "description": "Contact email of an enterprise"
                          }
                        },
                        "description": "Contact details of an enterprise"
                      },
                      "law_cto_info": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Full name of the head of an enterprise"
                          },
                          "inn": {
                            "type": "string",
                            "description": "TIN of the head of an enterprise"
                          },
                          "birth_date": {
                            "type": "string",
                            "format": "date",
                            "description": "Birth date of the head of an enterprise. Enter the date in this format: 2015-03-31"
                          },
                          "citizenship": {
                            "type": "string",
                            "description": "Nationality of the head of an enterprise. Enter the country in Latin letters",
                            "examples": [
                              "Ukraine"
                            ]
                          },
                          "residency": {
                            "type": "string",
                            "description": "Residence of the head of an enterprise"
                          }
                        },
                        "description": "Information about the head of an enterprise"
                      },
                      "law_owners_info": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Full name of the owner of an enterprise"
                            },
                            "inn": {
                              "type": "string",
                              "description": "TIN of the owner of an enterprise"
                            },
                            "birth_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Birth date of the owner of an enterprise. Enter the date in this format: 2015-03-31"
                            },
                            "citizenship": {
                              "type": "string",
                              "description": "Nationality of the owner of an enterprise. Enter the country in Latin letters",
                              "examples": [
                                "Ukraine"
                              ]
                            },
                            "share_in_capital": {
                              "type": "string",
                              "description": "The ownership interest in the authorized capital of an enterprise"
                            },
                            "residency": {
                              "type": "string",
                              "description": "Residence of the owner of the enterprise"
                            }
                          }
                        },
                        "description": "Information on the final beneficial owners of an enterprise"
                      },
                      "law_co_owners_info": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Full name of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "inn": {
                              "type": "string",
                              "description": "TIN of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "birth_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Birth date of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "citizenship": {
                              "type": "string",
                              "description": "Nationality of the owner of major shareholding. Enter the country in Latin letters. Transfer if the owner is an individual",
                              "examples": [
                                "Ukraine"
                              ]
                            },
                            "share_in_capital": {
                              "type": "string",
                              "description": "The size of the ownership interest. Transfer for both individuals and legal entities"
                            },
                            "residency": {
                              "type": "string",
                              "description": "Residence of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "company_name": {
                              "type": "string",
                              "maxLength": 255,
                              "description": "Enterprise name. Transfer if the owner is a legal entity"
                            },
                            "company_okpo": {
                              "type": "string",
                              "maxLength": 255,
                              "description": "USREOU of an enterprise. Transfer if the owner is a legal entity"
                            }
                          }
                        },
                        "description": "Information about owners of major shareholding"
                      }
                    },
                    "required": [
                      "law_okpo",
                      "law_name",
                      "law_iban",
                      "law_contacts",
                      "law_cto_info",
                      "law_owners_info",
                      "law_co_owners_info"
                    ],
                    "description": "Parameters for aggregators"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "description",
                  "email",
                  "name",
                  "phone",
                  "site"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "private_key": {
                      "type": "string",
                      "description": "Company private_key",
                      "examples": [
                        "wGsqoko5412LcD0vB215XK2wQSgLDVBrsaPIRi6"
                      ]
                    },
                    "public_key": {
                      "type": "string",
                      "description": "Company public_key",
                      "examples": [
                        "i000000000"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "description": "Available values:\n* `success` - Successful payment",
                      "examples": [
                        "success"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/request": {
      "post": {
        "summary": "Partner's. Company creation. Company creation register",
        "operationId": "partnership/shop_create/register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "agent_shop_register"
                    ],
                    "examples": [
                      "agent_shop_register"
                    ]
                  },
                  "phone": {
                    "type": "string",
                    "description": "Shop phone number",
                    "examples": [
                      "+380950000001",
                      "380950000001"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "description": "Store email",
                    "examples": [
                      "email@gmail.com"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Store name (uk, en)",
                    "examples": [
                      "Site name"
                    ]
                  },
                  "url_site": {
                    "type": "string",
                    "description": "Store website URL",
                    "examples": [
                      "agent1.site.com"
                    ]
                  },
                  "url_offer": {
                    "type": "string",
                    "description": "Offer URL"
                  },
                  "url_app_iphone": {
                    "type": "string",
                    "description": "URL to the app in the App Store"
                  },
                  "url_app_android": {
                    "type": "string",
                    "description": "URL to the app in the Play Market"
                  },
                  "telegram": {
                    "type": "string",
                    "description": "Link to the Telegram bot"
                  },
                  "viber": {
                    "type": "string",
                    "description": "Link to the Viber bot"
                  },
                  "instagram": {
                    "type": "string",
                    "description": "Instagram account link"
                  },
                  "facebook": {
                    "type": "string",
                    "description": "Link to Facebook group"
                  },
                  "iban": {
                    "type": "string",
                    "maxLength": 34,
                    "description": "IBAN to receive payments in this store"
                  },
                  "okpo": {
                    "type": "string",
                    "description": "OKPO account"
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name (uk, en)"
                  },
                  "mcc_code": {
                    "type": "string",
                    "description": "MSS code"
                  },
                  "docs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "file": {
                          "type": "string",
                          "description": "base64_encoded_data"
                        },
                        "doc_id": {
                          "type": "number",
                          "description": "Returned from the agent_info_mcc_docs API"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the document. If we download a document from the list from API agent_info_mcc_docs, then the name is from the response"
                        },
                        "file_name": {
                          "type": "string",
                          "description": "File name"
                        }
                      },
                      "required": [
                        "file",
                        "name",
                        "file_name"
                      ]
                    },
                    "description": "Documents for store activation"
                  },
                  "amount_procent_agent": {
                    "type": "number",
                    "description": "Agent fee in %"
                  },
                  "amount_static_agent": {
                    "type": "number",
                    "description": "Agent static fee"
                  },
                  "currency_static_agent": {
                    "type": "string",
                    "description": "Currency of agent static fee"
                  },
                  "can_reports": {
                    "type": "string",
                    "description": "Allows the owner of the main company to view the payment history of the created company, pass the value `true`"
                  },
                  "can_checkout_edit": {
                    "type": "string",
                    "description": "Allows the owner of the main company to edit the payment page settings of the company created, pass the value `true`"
                  },
                  "logo": {
                    "type": "string",
                    "description": "URL shop logo"
                  },
                  "url_callback_status": {
                    "type": "string",
                    "description": "URL for receiving data on document status change (5 - activated, 6 - blocked)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Store description",
                    "examples": [
                      "site description"
                    ]
                  },
                  "aggregator": {
                    "type": "object",
                    "properties": {
                      "law_okpo": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "USREOU of an enterprise"
                      },
                      "law_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Enterprise name"
                      },
                      "law_iban": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "Iban of an enterprise"
                      },
                      "law_contacts": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "Contact number of an enterprise"
                          },
                          "email": {
                            "type": "string",
                            "description": "Contact email of an enterprise"
                          }
                        },
                        "description": "Contact details of an enterprise"
                      },
                      "law_cto_info": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Full name of the head of an enterprise"
                          },
                          "inn": {
                            "type": "string",
                            "description": "TIN of the head of an enterprise"
                          },
                          "birth_date": {
                            "type": "string",
                            "format": "date",
                            "description": "Birth date of the head of an enterprise. Enter the date in this format: 2015-03-31"
                          },
                          "citizenship": {
                            "type": "string",
                            "description": "Nationality of the head of an enterprise. Enter the country in Latin letters",
                            "examples": [
                              "Ukraine"
                            ]
                          },
                          "residency": {
                            "type": "string",
                            "description": "Residence of the head of an enterprise"
                          }
                        },
                        "description": "Information about the head of an enterprise"
                      },
                      "law_owners_info": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Full name of the owner of an enterprise"
                            },
                            "inn": {
                              "type": "string",
                              "description": "TIN of the owner of an enterprise"
                            },
                            "birth_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Birth date of the owner of an enterprise. Enter the date in this format: 2015-03-31"
                            },
                            "citizenship": {
                              "type": "string",
                              "description": "Nationality of the owner of an enterprise. Enter the country in Latin letters",
                              "examples": [
                                "Ukraine"
                              ]
                            },
                            "share_in_capital": {
                              "type": "string",
                              "description": "The ownership interest in the authorized capital of an enterprise"
                            },
                            "residency": {
                              "type": "string",
                              "description": "Residence of the owner of the enterprise"
                            }
                          }
                        },
                        "description": "Information on the final beneficial owners of an enterprise"
                      },
                      "law_co_owners_info": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Full name of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "inn": {
                              "type": "string",
                              "description": "TIN of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "birth_date": {
                              "type": "string",
                              "format": "date",
                              "description": "Birth date of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "citizenship": {
                              "type": "string",
                              "description": "Nationality of the owner of major shareholding. Enter the country in Latin letters. Transfer if the owner is an individual",
                              "examples": [
                                "Ukraine"
                              ]
                            },
                            "share_in_capital": {
                              "type": "string",
                              "description": "The size of the ownership interest. Transfer for both individuals and legal entities"
                            },
                            "residency": {
                              "type": "string",
                              "description": "Residence of the owner of major shareholding. Transfer if the owner is an individual"
                            },
                            "company_name": {
                              "type": "string",
                              "maxLength": 255,
                              "description": "Enterprise name. Transfer if the owner is a legal entity"
                            },
                            "company_okpo": {
                              "type": "string",
                              "maxLength": 255,
                              "description": "USREOU of an enterprise. Transfer if the owner is a legal entity"
                            }
                          }
                        },
                        "description": "Information about owners of major shareholding"
                      }
                    },
                    "required": [
                      "law_okpo",
                      "law_name",
                      "law_iban",
                      "law_contacts",
                      "law_cto_info",
                      "law_owners_info",
                      "law_co_owners_info"
                    ],
                    "description": "Parameters for aggregators"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "phone",
                  "email",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activation_status": {
                      "type": "number",
                      "description": "Company activation status. 5 - the company is activated, 6 - the company is blocked"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "Full name of the company"
                    },
                    "create_date": {
                      "type": "string",
                      "format": "date",
                      "description": "Date of creation"
                    },
                    "email": {
                      "type": "string",
                      "description": "Company e-mail"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the company"
                    },
                    "okpo": {
                      "type": "string",
                      "description": "OKPO account"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone"
                    },
                    "public_key": {
                      "type": "string",
                      "description": "Public key"
                    },
                    "refund_number": {
                      "type": "string",
                      "description": "Company reimbursement account"
                    },
                    "update_date": {
                      "type": "string",
                      "format": "date",
                      "description": "Update date"
                    },
                    "url": {
                      "type": "string",
                      "description": "Company URL"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/request": {
      "post": {
        "summary": "Partner's. Company creation. Available МСС",
        "operationId": "partnership/shop_create/available_mcc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "agent_info_mcc_codes"
                  },
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API"
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en",
                      "uk"
                    ],
                    "default": "uk",
                    "description": "Locale in which to return the answer"
                  }
                },
                "required": [
                  "action",
                  "version",
                  "public_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mcc_codes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Identifier"
                          },
                          "mcc_code": {
                            "type": "number",
                            "description": "Meaning of MCC. Blank for code category, contains value for MCC"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of code or category of codes"
                          },
                          "parent_id": {
                            "type": "number",
                            "description": "Code category identifier. Blank for code categories, contains value for MCC"
                          }
                        }
                      },
                      "description": "Array with code data"
                    },
                    "result": {
                      "type": "string",
                      "description": "Result of the request"
                    },
                    "status": {
                      "type": "string",
                      "description": "Request execution status"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/request": {
      "post": {
        "summary": "Partner's. Company creation. Documents",
        "operationId": "partnership/shop_create/documents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "agent_info_mcc_docs"
                  },
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API"
                  },
                  "mcc_code": {
                    "type": "number",
                    "maxLength": 4,
                    "description": "MCC Code Meaning"
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en",
                      "uk"
                    ],
                    "default": "uk",
                    "description": "Locale in which to return the answer"
                  }
                },
                "required": [
                  "action",
                  "version",
                  "mcc_code",
                  "public_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Result of the request"
                    },
                    "status": {
                      "type": "string",
                      "description": "Request execution status"
                    },
                    "expected_docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "doc_id": {
                            "type": "number",
                            "description": "Document ID"
                          },
                          "doc_type": {
                            "type": "string",
                            "description": "Document type: required - a required document, allof - the document can be replaced with all other documents from the list, optional - an optional document"
                          },
                          "name": {
                            "type": "string",
                            "description": "Document's name"
                          },
                          "alt_docs": {
                            "type": "array",
                            "description": "An array of document identifiers that can replace the current document"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the document"
                          }
                        }
                      },
                      "description": "An array containing the data of documents required for the received MCC"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}