{
  "openapi": "3.1.0",
  "info": {
    "version": "3",
    "title": "External API"
  },
  "servers": [
    {
      "url": "https://liqpay.ua"
    }
  ],
  "paths": {
    "/api/request?path=internet_acquiring.checkout": {
      "post": {
        "summary": "Internet acquiring. Checkout",
        "operationId": "internet_acquiring/checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "example": 3,
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "pay",
                      "hold",
                      "subscribe",
                      "paydonate"
                    ],
                    "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `subscribe` - regular payment\n* `paydonate` - donation",
                    "example": "pay",
                    "examples": [
                      "pay"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34,
                      1.0
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH"
                    ],
                    "description": "Payment currency",
                    "example": "USD",
                    "examples": [
                      "USD"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description",
                    "example": "description text",
                    "examples": [
                      "description text"
                    ]
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop",
                    "example": "order_id_1",
                    "examples": [
                      "order_id_1"
                    ]
                  },
                  "rro_info": {
                    "type": "object",
                    "properties": {
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Quantity/volume",
                              "example": 2,
                              "examples": [
                                2
                              ]
                            },
                            "cost": {
                              "type": "number",
                              "description": "The cost of all units of the specified product in the receipt (number of units * unit cost)",
                              "example": 404,
                              "examples": [
                                404
                              ]
                            },
                            "id": {
                              "type": "integer",
                              "description": "Item ID. You can get it in the Liqpay account - SCR - Kasa - Goods",
                              "example": 123456,
                              "examples": [
                                123456
                              ]
                            },
                            "price": {
                              "type": "number",
                              "description": "Unit cost of goods",
                              "example": 202,
                              "examples": [
                                202
                              ]
                            }
                          },
                          "required": [
                            "amount",
                            "cost",
                            "id",
                            "price"
                          ]
                        },
                        "description": "Data about products for which payment is performed"
                      },
                      "delivery_emails": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email",
                          "example": "email1@email.com",
                          "examples": [
                            "email1@email.com",
                            "email2@email.com"
                          ]
                        },
                        "description": "List of e-mails to which receipts should be sent after fiscalization"
                      }
                    },
                    "description": "Data for fiscalization"
                  },
                  "expired_date": {
                    "type": "string",
                    "format": "date-time-liqpay",
                    "description": "Date and time until which customer is able to pay invoice by `UTC`. Should be sent in the following format `2016-04-24 00:00:00`"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  },
                  "paytypes": {
                    "type": "string",
                    "enum": [
                      "apay",
                      "gpay",
                      "card",
                      "privat24",
                      "moment_part",
                      "paypart",
                      "cash",
                      "invoice",
                      "qr"
                    ],
                    "description": "Parameter that gets the methods of payments that displayed on checkout. Possible values:\n* `apay` - pay with Apple Pay\n* `gpay` - pay with Google Pay\n* `card` - card payment\n* `privat24` - with privat24 account\n* `moment_part` - installments\n* `paypart` - payment by parts\n* `cash` - cash\n* `invoice` - to email\n* `qr` - qr code scanning. If the parameter is not passed, shop settings will be applied, Checkout tab"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL of your shop where the buyer would be redirected after completion of the purchase"
                  },
                  "server_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL API in your store for notifications of payment status change (`server` -> `server`). [Learn more](https://www.liqpay.ua/en/doc/api/callback)"
                  },
                  "verifycode": {
                    "type": "string",
                    "format": "boolean-yesno",
                    "enum": [
                      "Y"
                    ],
                    "default": "Y",
                    "description": "Dynamic verification code is generated and going back to `Callback`. Also generated code will be transferred to verification transactions for displaying in statement by client's card. Works for `action` = `auth`"
                  },
                  "split_rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "public_key": {
                          "type": "string",
                          "description": "Public key - the store identifier",
                          "example": "i000000001",
                          "examples": [
                            "i000000001",
                            "i000000002"
                          ]
                        },
                        "amount": {
                          "type": "number",
                          "description": "Payment amount",
                          "example": 1,
                          "examples": [
                            1,
                            2
                          ]
                        },
                        "commission_payer": {
                          "type": "string",
                          "enum": [
                            "sender",
                            "receiver"
                          ],
                          "default": "sender",
                          "description": "Commission payer",
                          "example": "sender",
                          "examples": [
                            "sender",
                            "receiver"
                          ]
                        },
                        "server_url": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 510,
                          "description": "URL API in your store for notifications of payment status change (`server` -> `server`)",
                          "example": "https://server1/callback",
                          "examples": [
                            "https://server1/callback",
                            "https://server2/callback"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "description": "Payment description"
                        }
                      },
                      "required": [
                        "amount"
                      ]
                    },
                    "description": "Payment with split amount for a few receivers. This parameter is a `JSON` array containing split rules. While using `split_rules` parameter, card is being charged and amount is split and credited to a few receivers. If you need to convey your purpose for each amount use the parameter `description`. Acquiring fee is being charged from each shop in the `split_rules`"
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "sender_address": {
                        "type": "string",
                        "description": "Sender's address"
                      },
                      "sender_city": {
                        "type": "string",
                        "description": "Sender's city"
                      },
                      "sender_country_code": {
                        "type": "string",
                        "description": "Country code of the sender. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)"
                      },
                      "sender_first_name": {
                        "type": "string",
                        "description": "Sender's first name"
                      },
                      "sender_last_name": {
                        "type": "string",
                        "description": "Sender's last name"
                      },
                      "sender_postal_code": {
                        "type": "string",
                        "description": "Sender's zip code"
                      }
                    },
                    "description": "Sender parameters"
                  },
                  "regular_payment": {
                    "type": "object",
                    "properties": {
                      "subscribe": {
                        "type": "string",
                        "enum": [
                          "1"
                        ],
                        "default": "1",
                        "description": "Regular payment"
                      },
                      "subscribe_date_start": {
                        "type": "string",
                        "format": "date-time-liqpay",
                        "description": "Date of the first payment. Time must be specified in the following format `2015-03-31 00:00:00` by `UTC`. If past date is indicated - subscription will be activated with the date and time of request"
                      },
                      "subscribe_periodicity": {
                        "type": "string",
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year"
                        ],
                        "description": "Period of payments. Possible values:\n* `day` - daily\n* `week` - weekly\n* `month` - once in a month\n* `year` - once in a year"
                      }
                    },
                    "required": [
                      "subscribe_date_start"
                    ],
                    "description": "Regular payment parameters"
                  },
                  "one_click_payment": {
                    "type": "object",
                    "properties": {
                      "customer": {
                        "type": "string",
                        "maxLength": 100,
                        "description": "Unique customer ID in your shop. When you transfer the parameter LiqPay stores the payment details of the customer and his ID - the next payment can be made in 1-click. (When using the parameter for **Masterpass 1-click**, the valid payer's phone number is transmitted in this field)"
                      },
                      "recurringbytoken": {
                        "type": "string",
                        "format": "boolean-integer",
                        "enum": [
                          "1"
                        ],
                        "default": "1",
                        "description": "Allows to generate payer `card_token` which you receive in callback request to `server_url`. `card_token` allows to make recurring payments without payer card details via API payment by token - it means 1-click. For getting `card_token` please send in request value: `1`"
                      },
                      "customer_user_id": {
                        "type": "string",
                        "description": "The user ID in the system of the merchant is transferred with each user’s payment (doesn’t have to match `customer` it is used for payment with the help of **Masterpass 1-click** wallet)"
                      }
                    },
                    "description": "Parameters for 1-click payment"
                  },
                  "dae": {
                    "type": "string",
                    "description": "Detail Addenda.\n\nPossible `JSON` object:\n```\n{\n  \"airLine\": \"Avia\", // airline abbreviation, max 4 symbols.\n  \"ticketNumber\": \"ACSFD12354SA\", // ticket number, max 15 symbols. \n  \"passengerName\": \"John Doe\", // passenger name, max 29 symbols.\n  \"flightNumber\": \"742\", // flight number, max 5 number.\n  \"originCity\": \"DP\", // departure city/airport code, max 5 symbols.\n  \"destinationCity\": \"NY\", // arrival city/airport code, max 5 symbols.\n  \"departureDate\": \"100514\" // departure date in format YYMMDD, max 6 number.\n}\n```"
                  },
                  "info": {
                    "type": "string",
                    "description": "Information to add details to payment",
                    "example": "External information for payments",
                    "examples": [
                      "External information for payments"
                    ]
                  },
                  "product_category": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Product category in your shop"
                  },
                  "product_description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Product description in your shop"
                  },
                  "product_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Product name in your shop"
                  },
                  "product_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2000,
                    "description": "Product page address"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "amount",
                  "currency",
                  "description",
                  "order_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/request?path=internet_acquiring.widget": {
      "post": {
        "summary": "Internet acquiring. Payment widget",
        "operationId": "internet_acquiring/widget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "example": 3,
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "pay",
                      "hold",
                      "subscribe",
                      "paydonate"
                    ],
                    "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `subscribe` - regular payment\n* `paydonate` - donation",
                    "example": "pay",
                    "examples": [
                      "pay"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34,
                      1.0
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH"
                    ],
                    "description": "Payment currency",
                    "example": "USD",
                    "examples": [
                      "USD"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description",
                    "example": "description text",
                    "examples": [
                      "description text"
                    ]
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop",
                    "example": "order_id_1",
                    "examples": [
                      "order_id_1"
                    ]
                  },
                  "expired_date": {
                    "type": "string",
                    "format": "date-time-liqpay",
                    "description": "Date and time until which customer is able to pay invoice by `UTC`. Should be sent in the following format `2016-04-24 00:00:00`"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  },
                  "paytypes": {
                    "type": "string",
                    "enum": [
                      "apay",
                      "gpay",
                      "card",
                      "privat24",
                      "moment_part",
                      "paypart",
                      "cash",
                      "invoice",
                      "qr"
                    ],
                    "description": "Parameter that gets the methods of payments that displayed on checkout. Possible values:\n* `apay` - pay with Apple Pay\n* `gpay` - pay with Google Pay\n* `card` - card payment\n* `privat24` - with privat24 account\n* `moment_part` - installments\n* `paypart` - payment by parts\n* `cash` - cash\n* `invoice` - to email\n* `qr` - qr code scanning. If the parameter is not passed, shop settings will be applied, Checkout tab"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL of your shop where the buyer would be redirected after completion of the purchase"
                  },
                  "server_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL API in your store for notifications of payment status change (`server` -> `server`). [Learn more](https://www.liqpay.ua/en/doc/api/callback)"
                  },
                  "verifycode": {
                    "type": "string",
                    "format": "boolean-yesno",
                    "enum": [
                      "Y"
                    ],
                    "default": "Y",
                    "description": "Dynamic verification code is generated and going back to `Callback`. Also generated code will be transferred to verification transactions for displaying in statement by client's card. Works for `action` = `auth`"
                  },
                  "split_rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "public_key": {
                          "type": "string",
                          "description": "Public key - the store identifier",
                          "example": "i000000001",
                          "examples": [
                            "i000000001",
                            "i000000002"
                          ]
                        },
                        "amount": {
                          "type": "number",
                          "description": "Payment amount",
                          "example": 1,
                          "examples": [
                            1,
                            2
                          ]
                        },
                        "commission_payer": {
                          "type": "string",
                          "enum": [
                            "sender",
                            "receiver"
                          ],
                          "default": "sender",
                          "description": "Commission payer",
                          "example": "sender",
                          "examples": [
                            "sender",
                            "receiver"
                          ]
                        },
                        "server_url": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 510,
                          "description": "URL API in your store for notifications of payment status change (`server` -> `server`)",
                          "example": "https://server1/callback",
                          "examples": [
                            "https://server1/callback",
                            "https://server2/callback"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "description": "Payment description"
                        }
                      },
                      "required": [
                        "amount"
                      ]
                    },
                    "description": "Payment with split amount for a few receivers. This parameter is a `JSON` array containing split rules. While using `split_rules` parameter, card is being charged and amount is split and credited to a few receivers. If you need to convey your purpose for each amount use the parameter `description`. Acquiring fee is being charged from each shop in the `split_rules`"
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "sender_address": {
                        "type": "string",
                        "description": "Sender's address"
                      },
                      "sender_city": {
                        "type": "string",
                        "description": "Sender's city"
                      },
                      "sender_country_code": {
                        "type": "string",
                        "description": "Country code of the sender. Digital [ISO 3166-1 code](https://uk.wikipedia.org/wiki/ISO_3166-1)"
                      },
                      "sender_first_name": {
                        "type": "string",
                        "description": "Sender's first name"
                      },
                      "sender_last_name": {
                        "type": "string",
                        "description": "Sender's last name"
                      },
                      "sender_postal_code": {
                        "type": "string",
                        "description": "Sender's zip code"
                      }
                    },
                    "description": "Sender parameters"
                  },
                  "regular_payment": {
                    "type": "object",
                    "properties": {
                      "subscribe": {
                        "type": "string",
                        "enum": [
                          "1"
                        ],
                        "default": "1",
                        "description": "Regular payment"
                      },
                      "subscribe_date_start": {
                        "type": "string",
                        "format": "date-time-liqpay",
                        "description": "Date of the first payment. Time must be specified in the following format `2015-03-31 00:00:00` by `UTC`. If past date is indicated - subscription will be activated with the date and time of request"
                      },
                      "subscribe_periodicity": {
                        "type": "string",
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year"
                        ],
                        "description": "Period of payments. Possible values:\n* `day` - daily\n* `week` - weekly\n* `month` - once in a month\n* `year` - once in a year"
                      }
                    },
                    "required": [
                      "subscribe_date_start"
                    ],
                    "description": "Regular payment parameters"
                  },
                  "one_click_payment": {
                    "type": "object",
                    "properties": {
                      "customer": {
                        "type": "string",
                        "maxLength": 100,
                        "description": "Unique customer ID in your shop. When you transfer the parameter LiqPay stores the payment details of the customer and his ID - the next payment can be made in 1-click. (When using the parameter for **Masterpass 1-click**, the valid payer's phone number is transmitted in this field)"
                      },
                      "recurringbytoken": {
                        "type": "string",
                        "format": "boolean-integer",
                        "enum": [
                          "1"
                        ],
                        "default": "1",
                        "description": "Allows to generate payer `card_token` which you receive in callback request to `server_url`. `card_token` allows to make recurring payments without payer card details via API payment by token - it means 1-click. For getting `card_token` please send in request value: `1`"
                      },
                      "customer_user_id": {
                        "type": "string",
                        "description": "The user ID in the system of the merchant is transferred with each user’s payment (doesn’t have to match `customer` it is used for payment with the help of **Masterpass 1-click** wallet)"
                      }
                    },
                    "description": "Parameters for 1-click payment"
                  },
                  "dae": {
                    "type": "string",
                    "description": "Detail Addenda.\n\nPossible `JSON` object:\n```\n{\n  \"airLine\": \"Avia\", // airline abbreviation, max 4 symbols.\n  \"ticketNumber\": \"ACSFD12354SA\", // ticket number, max 15 symbols. \n  \"passengerName\": \"John Doe\", // passenger name, max 29 symbols.\n  \"flightNumber\": \"742\", // flight number, max 5 number.\n  \"originCity\": \"DP\", // departure city/airport code, max 5 symbols.\n  \"destinationCity\": \"NY\", // arrival city/airport code, max 5 symbols.\n  \"departureDate\": \"100514\" // departure date in format YYMMDD, max 6 number.\n}\n```"
                  },
                  "info": {
                    "type": "string",
                    "description": "Information to add details to payment",
                    "example": "External information for payments",
                    "examples": [
                      "External information for payments"
                    ]
                  },
                  "product_category": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Product category in your shop"
                  },
                  "product_description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Product description in your shop"
                  },
                  "product_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Product name in your shop"
                  },
                  "product_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2000,
                    "description": "Product page address"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "amount",
                  "currency",
                  "description",
                  "order_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/request?path=internet_acquiring.refund": {
      "post": {
        "summary": "Internet acquiring. Refund",
        "operationId": "internet_acquiring/refund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "example": 3,
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "refund"
                    ],
                    "default": "refund",
                    "example": "refund",
                    "examples": [
                      "refund"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34
                    ]
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop",
                    "example": "order_id_1",
                    "examples": [
                      "order_id_1"
                    ]
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "amount",
                  "order_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "pay",
                        "hold",
                        "subscribe",
                        "paydonate"
                      ],
                      "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `subscribe` - regular payment\n* `paydonate` - donation",
                      "example": "refund",
                      "examples": [
                        "refund"
                      ]
                    },
                    "payment_id": {
                      "type": "number",
                      "description": "Payment id in LiqPay system",
                      "example": 165173,
                      "examples": [
                        165173
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "error",
                        "failure",
                        "reversed",
                        "success"
                      ],
                      "description": "Payment status.\nAvailable values:\nFinal payment statuses\n* `error` - Failed payment. Data is incorrect\n* `failure` - Failed payment\n* `reversed` - Payment refunded\n* `success` - Successful payment",
                      "example": "reversed",
                      "examples": [
                        "reversed"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/request?path=internet_acquiring.card_payment": {
      "post": {
        "summary": "Internet acquiring. Card payment",
        "operationId": "internet_acquiring/card_payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API",
                    "example": 3,
                    "examples": [
                      3
                    ]
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "pay"
                    ],
                    "default": "pay",
                    "example": "pay",
                    "examples": [
                      "pay"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34,
                      1.0
                    ]
                  },
                  "card": {
                    "type": "string",
                    "description": "Card number of the payer",
                    "example": "4731195301524634",
                    "examples": [
                      "4731195301524634"
                    ]
                  },
                  "card_cvv": {
                    "type": "string",
                    "description": "CVV/CVV2. The parameter is required if the card number is being passed",
                    "example": "111",
                    "examples": [
                      "111"
                    ]
                  },
                  "card_exp_month": {
                    "type": "string",
                    "description": "Expiry month of the payer's card. This parameter is required if the card number or an unencrypted token is being passed",
                    "example": "08",
                    "examples": [
                      "08",
                      "03"
                    ]
                  },
                  "card_exp_year": {
                    "type": "string",
                    "description": "Expiry year of the payer's card. This parameter is required if the card number or an unencrypted token is being passed",
                    "example": "19",
                    "examples": [
                      "19",
                      "22"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH"
                    ],
                    "description": "Payment currency",
                    "example": "USD",
                    "examples": [
                      "USD"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description",
                    "example": "description text",
                    "examples": [
                      "description text"
                    ]
                  },
                  "ip": {
                    "type": "string",
                    "description": "Client IP, required if Trusted IP address is specified"
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop",
                    "example": "order_id_1",
                    "examples": [
                      "order_id_1"
                    ]
                  },
                  "phone": {
                    "type": "string",
                    "description": "Payer's phone number. The OTP-password will be sent to this telephone number to confirm your payment, and the linked payer's LiqPay cabinet. The telephone number should be indicated in the international format (Ukraine `+380`)",
                    "example": "+380950000001",
                    "examples": [
                      "+380950000001",
                      "380950000001"
                    ]
                  },
                  "paytype": {
                    "type": "string",
                    "enum": [
                      "apay",
                      "gpay",
                      "apay_tavv",
                      "gpay_tavv",
                      "tavv"
                    ],
                    "description": "Payment type. Possible values:\n* `apay` - payment using an encrypted Apple token\n* `gpay` - payment using an encrypted Google token\n* `apay_tavv` - payment using an unencrypted Apple token\n* `gpay_tavv` - payment using an unencrypted Google token\n* `tavv` - payment using an unencrypted token of international payment systems (MasterCard, Visa). This parameter is required for payments using encrypted and unencrypted tokens"
                  },
                  "tavv": {
                    "type": "string",
                    "description": "A cryptogram is a dynamic one-time code for every transaction accompanying a token. This parameter is required when making a payment using unencrypted tokens by Apple, Google, international payment systems (MasterCard, Visa)"
                  },
                  "tid": {
                    "type": "string",
                    "description": "Previous transaction ID. For recurring payments using tokens of Visa international payment system"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  },
                  "prepare": {
                    "type": "string",
                    "format": "boolean-integer",
                    "enum": [
                      "1"
                    ],
                    "default": "1",
                    "description": "The preliminary preparation of the payment. This mode allows to check if all data are filled in, if 3DS authentication is required, if transaction is within limit. Payer card will not be charged. To enable this mode you will need to transmit value `1`, and to work with DCC (dynamic currency conversion) - the value of `tariffs`"
                  },
                  "recurringbytoken": {
                    "type": "string",
                    "format": "boolean-integer",
                    "enum": [
                      "1"
                    ],
                    "default": "1",
                    "description": "This parameter allows to generate payer `card_token` which you receive in callback request to `server_url`. `card_token` allows to make recurring payments without payer card requisites using API [paytoken](https://www.liqpay.ua/en/doc/api/internet_acquiring/token). To receive `card_token` please send in request value `1`"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL of your shop where the buyer would be redirected after completion of the purchase"
                  },
                  "recurring": {
                    "type": "boolean",
                    "description": "Token recurring payment flag. Used for payments with tokens of international payment systems (MasterCard, Visa). Possible values:\n* `true` - the operation is performed without the participation of the client\n* `false` - the operation is performed by the client"
                  },
                  "server_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL API in your store for notifications of payment status change (`server` -> `server`). [Learn more](https://www.liqpay.ua/en/doc/api/callback)"
                  },
                  "rro_info": {
                    "type": "object",
                    "properties": {
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Quantity/volume",
                              "example": 2,
                              "examples": [
                                2
                              ]
                            },
                            "cost": {
                              "type": "number",
                              "description": "The cost of all units of the specified product in the receipt (number of units * unit cost)",
                              "example": 404,
                              "examples": [
                                404
                              ]
                            },
                            "id": {
                              "type": "integer",
                              "description": "Item ID. You can get it in the Liqpay account - SCR - Kasa - Goods",
                              "example": 123456,
                              "examples": [
                                123456
                              ]
                            },
                            "price": {
                              "type": "number",
                              "description": "Unit cost of goods",
                              "example": 202,
                              "examples": [
                                202
                              ]
                            }
                          },
                          "required": [
                            "amount",
                            "cost",
                            "id",
                            "price"
                          ]
                        },
                        "description": "Data about products for which payment is performed"
                      },
                      "delivery_emails": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email",
                          "example": "email1@email.com",
                          "examples": [
                            "email1@email.com",
                            "email2@email.com"
                          ]
                        },
                        "description": "List of e-mails to which receipts should be sent after fiscalization"
                      }
                    },
                    "description": "Data for fiscalization"
                  },
                  "split_rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "public_key": {
                          "type": "string",
                          "description": "Public key - the store identifier",
                          "example": "i000000001",
                          "examples": [
                            "i000000001",
                            "i000000002"
                          ]
                        },
                        "amount": {
                          "type": "number",
                          "description": "Payment amount",
                          "example": 1,
                          "examples": [
                            1,
                            2
                          ]
                        },
                        "commission_payer": {
                          "type": "string",
                          "enum": [
                            "sender",
                            "receiver"
                          ],
                          "default": "sender",
                          "description": "Commission payer",
                          "example": "sender",
                          "examples": [
                            "sender",
                            "receiver"
                          ]
                        },
                        "server_url": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 510,
                          "description": "URL API in your store for notifications of payment status change (`server` -> `server`)",
                          "example": "https://server1/callback",
                          "examples": [
                            "https://server1/callback",
                            "https://server2/callback"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "description": "Payment description"
                        }
                      },
                      "required": [
                        "amount"
                      ]
                    },
                    "description": "Payment with split amount for a few receivers. This parameter is a `JSON` array containing split rules. While using `split_rules` parameter, card is being charged and amount is split and credited to a few receivers. If you need to convey your purpose for each amount use the parameter `description`. Acquiring fee is being charged from each shop in the `split_rules`"
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "sender_first_name": {
                        "type": "string",
                        "description": "Sender's first name"
                      },
                      "sender_last_name": {
                        "type": "string",
                        "description": "Sender's last name"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Payer's phone number"
                      },
                      "sender_email": {
                        "type": "string",
                        "description": "E-mail address"
                      },
                      "sender_country_code": {
                        "type": "string",
                        "description": "Country code of the sender. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)"
                      },
                      "sender_city": {
                        "type": "string",
                        "description": "Sender's city"
                      },
                      "sender_address": {
                        "type": "string",
                        "description": "Sender's address"
                      },
                      "sender_state": {
                        "type": "string",
                        "description": "Payment address. Sender's region code. Digital [ISO 3166-2 code.](https://en.wikipedia.org/wiki/ISO_3166-2)For Ukraine [ISO 3166-2:UA](https://en.wikipedia.org/wiki/ISO_3166-2:UA)"
                      },
                      "sender_shipping_state": {
                        "type": "string",
                        "description": "Shipping address. Sender's region code. Digital [ISO 3166-2 code.](https://en.wikipedia.org/wiki/ISO_3166-2)For Ukraine [ISO 3166-2:UA](https://en.wikipedia.org/wiki/ISO_3166-2:UA)"
                      },
                      "sender_postal_code": {
                        "type": "string",
                        "description": "Sender's zip code"
                      }
                    },
                    "required": [
                      "phone",
                      "sender_country_code",
                      "sender_city",
                      "sender_address",
                      "sender_postal_code"
                    ],
                    "description": "Sender parameters"
                  },
                  "regular_payment": {
                    "type": "object",
                    "properties": {
                      "subscribe": {
                        "type": "string",
                        "enum": [
                          "1"
                        ],
                        "default": "1",
                        "description": "Regular payment"
                      },
                      "subscribe_date_start": {
                        "type": "string",
                        "format": "date-time-liqpay",
                        "description": "Date of the first payment. Time must be specified in the following format `2015-03-31 00:00:00` by `UTC`. If past date is indicated - subscription will be activated with the date and time of request"
                      },
                      "subscribe_periodicity": {
                        "type": "string",
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year"
                        ],
                        "description": "Period of payments. Possible values:\n* `day` - daily\n* `week` - weekly\n* `month` - once in a month\n* `year` - once in a year"
                      }
                    },
                    "required": [
                      "subscribe_date_start"
                    ],
                    "description": "Regular payment parameters"
                  },
                  "customer": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Unique customer ID in your shop"
                  },
                  "dae": {
                    "type": "string",
                    "description": "Detail Addenda.\n\nPossible `JSON` object:\n```\n{\n  \"airLine\": \"Avia\", // airline abbreviation, max 4 symbols.\n  \"ticketNumber\": \"ACSFD12354SA\", // ticket number, max 15 symbols. \n  \"passengerName\": \"John Doe\", // passenger name, max 29 symbols.\n  \"flightNumber\": \"742\", // flight number, max 5 number.\n  \"originCity\": \"DP\", // departure city/airport code, max 5 symbols.\n  \"destinationCity\": \"NY\", // arrival city/airport code, max 5 symbols.\n  \"departureDate\": \"100514\" // departure date in format YYMMDD, max 6 number.\n}\n```"
                  },
                  "info": {
                    "type": "string",
                    "description": "Information to add details to payment",
                    "example": "External information for payments",
                    "examples": [
                      "External information for payments"
                    ]
                  },
                  "product_category": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Product category in your shop"
                  },
                  "product_description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Product description in your shop"
                  },
                  "product_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Product name in your shop"
                  },
                  "product_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2000,
                    "description": "Product page address"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "amount",
                  "card",
                  "currency",
                  "description",
                  "ip",
                  "order_id",
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "acq_id": {
                      "type": "number",
                      "description": "Acquirer ID",
                      "example": 414963,
                      "examples": [
                        414963
                      ]
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "pay",
                        "hold",
                        "paysplit",
                        "subscribe",
                        "paydonate",
                        "auth",
                        "regular"
                      ],
                      "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `paysplit` - splitting payments\n* `subscribe` - creation of a regular payment\n* `paydonate` - donation\n* `auth` - card preauth\n* `regular` - regular payment",
                      "example": "pay",
                      "examples": [
                        "pay"
                      ]
                    },
                    "agent_commission": {
                      "type": "number",
                      "description": "Agent comission in payment currency",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "description": "Payment amount",
                      "example": 100.0,
                      "examples": [
                        100.0
                      ]
                    },
                    "amount_bonus": {
                      "type": "number",
                      "description": "Payer bonus amount in payment currency debit",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "amount_credit": {
                      "type": "number",
                      "description": "Payment amount for credit in currency of `currency_credit`",
                      "example": 100.0,
                      "examples": [
                        100.0
                      ]
                    },
                    "amount_debit": {
                      "type": "number",
                      "description": "Payment amount for debit in currency of `currency_debit`",
                      "example": 100.0,
                      "examples": [
                        100.0
                      ]
                    },
                    "authcode_credit": {
                      "type": "string",
                      "description": "Authorization code for transaction of credit",
                      "example": "329007",
                      "examples": [
                        "329007"
                      ]
                    },
                    "authcode_debit": {
                      "type": "string",
                      "description": "Authorization code for transaction of debit",
                      "example": "388000",
                      "examples": [
                        "388000"
                      ]
                    },
                    "bonus_procent": {
                      "type": "number",
                      "description": "Discount rate in percent",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "bonus_type": {
                      "type": "string",
                      "enum": [
                        "bonusplus",
                        "discount_club",
                        "personal",
                        "promo"
                      ],
                      "description": "Bonus type, ",
                      "example": "bonusplus",
                      "examples": [
                        "bonusplus"
                      ]
                    },
                    "card_token": {
                      "type": "string",
                      "description": "Sender's card token",
                      "example": "CDRES215658546306B200061FCC53A86B",
                      "examples": [
                        "CDRES215658546306B200061FCC53A86B"
                      ]
                    },
                    "commission_credit": {
                      "type": "number",
                      "description": "Commission from the receiver in `currency_credit`",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "commission_debit": {
                      "type": "number",
                      "description": "Commission from the sender in `currency_debit`",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "create_date": {
                      "type": "integer",
                      "format": "timestamp-ms",
                      "description": "Date of payment creation",
                      "example": 1501685446633,
                      "examples": [
                        1501685446633
                      ]
                    },
                    "currency": {
                      "type": "string",
                      "description": "Payment currency",
                      "example": "UAH",
                      "examples": [
                        "UAH"
                      ]
                    },
                    "currency_credit": {
                      "type": "string",
                      "description": "Transaction currency of credit",
                      "example": "UAH",
                      "examples": [
                        "UAH"
                      ]
                    },
                    "currency_debit": {
                      "type": "string",
                      "description": "Transaction currency of debit",
                      "example": "UAH",
                      "examples": [
                        "UAH"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "description": "Payment description",
                      "example": "description",
                      "examples": [
                        "description"
                      ]
                    },
                    "end_date": {
                      "type": "integer",
                      "format": "timestamp-ms",
                      "description": "Date of payment edition/end",
                      "example": 1501685446633,
                      "examples": [
                        1501685446633
                      ]
                    },
                    "ip": {
                      "type": "string",
                      "description": "Sender's IP address",
                      "example": "8.8.8.8",
                      "examples": [
                        "8.8.8.8"
                      ]
                    },
                    "is_3ds": {
                      "type": "boolean",
                      "description": "Possible values:\n* `true` - transaction passed with 3DS\n* `false` - transaction passed without 3DS"
                    },
                    "liqpay_order_id": {
                      "type": "string",
                      "description": "Payment order_id in LiqPay system",
                      "example": "NYMK3AE61501685438251925",
                      "examples": [
                        "NYMK3AE61501685438251925"
                      ]
                    },
                    "mpi_eci": {
                      "type": "integer",
                      "enum": [
                        5,
                        6,
                        7
                      ],
                      "description": "Possible values:\n* `5` - the transaction passed with 3DS (issuer and acquirer support 3d Secure technology)\n* `6` - the issuer of the payer card does not support 3d Secure technology\n* `7` - the operation passed without 3d Secure",
                      "example": 7,
                      "examples": [
                        7
                      ]
                    },
                    "mpi_cres": {
                      "type": "string",
                      "description": "The value returned to ACS by the issuer's page after cardholder authentication"
                    },
                    "order_id": {
                      "type": "string",
                      "description": "Order_id payment",
                      "example": "98R1U1OV1485849059893399",
                      "examples": [
                        "98R1U1OV1485849059893399"
                      ]
                    },
                    "payment_id": {
                      "type": "number",
                      "description": "Payment id in LiqPay system",
                      "example": 165172,
                      "examples": [
                        165172
                      ]
                    },
                    "paytype": {
                      "type": "string",
                      "enum": [
                        "card",
                        "privat24",
                        "moment_part",
                        "cash",
                        "invoice",
                        "qr"
                      ],
                      "description": "Methods of payment. Possible values:\n* `card` - card payment\n* `privat24` - with privat24 account\n* `moment_part` - installments\n* `cash` - cash\n* `invoice` - to email\n* `qr` - qr code scanning",
                      "example": "card",
                      "examples": [
                        "card"
                      ]
                    },
                    "public_key": {
                      "type": "string",
                      "description": "Shop public key",
                      "example": "i000000000",
                      "examples": [
                        "i000000000"
                      ]
                    },
                    "receiver_commission": {
                      "type": "number",
                      "description": "Receiver comission in payment currency",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "rrn_credit": {
                      "type": "string",
                      "description": "Unique transaction ID in authorization and settlement system of issuer bank `Retrieval Reference number`",
                      "example": "000663747003",
                      "examples": [
                        "000663747003"
                      ]
                    },
                    "rrn_debit": {
                      "type": "string",
                      "description": "Unique transaction ID in authorization and settlement system of issuer bank `Retrieval Reference number`",
                      "example": "000663747000",
                      "examples": [
                        "000663747000"
                      ]
                    },
                    "sender_bonus": {
                      "type": "number",
                      "description": "Sender's bonus in the payment currency",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "sender_card_bank": {
                      "type": "string",
                      "description": "Sender's card bank",
                      "example": "pb",
                      "examples": [
                        "pb"
                      ]
                    },
                    "sender_card_country": {
                      "type": "string",
                      "description": "Sender's card country. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)",
                      "example": 804,
                      "examples": [
                        804
                      ]
                    },
                    "sender_card_mask2": {
                      "type": "string",
                      "description": "Sender's card",
                      "example": "473118*50",
                      "examples": [
                        "473118*50"
                      ]
                    },
                    "sender_card_type": {
                      "type": "string",
                      "description": "Sender's card type MC/Visa",
                      "example": "visa",
                      "examples": [
                        "visa"
                      ]
                    },
                    "sender_commission": {
                      "type": "number",
                      "description": "Commission from the sender in the payment currency",
                      "example": 0.0,
                      "examples": [
                        0.0
                      ]
                    },
                    "sender_first_name": {
                      "type": "string",
                      "description": "The name of the sender",
                      "example": "first_name",
                      "examples": [
                        "first_name"
                      ]
                    },
                    "sender_last_name": {
                      "type": "string",
                      "description": "Sender's last name",
                      "example": "last_name",
                      "examples": [
                        "last_name"
                      ]
                    },
                    "sender_phone": {
                      "type": "string",
                      "description": "Sender's phone number",
                      "example": "380950000001",
                      "examples": [
                        "380950000001"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "error",
                        "failure",
                        "reversed",
                        "success",
                        "3ds_verify",
                        "cvv_verify",
                        "receiver_verify",
                        "sender_verify",
                        "wait_accept",
                        "wait_secure"
                      ],
                      "description": "Payment status.\nAvailable values:\nFinal payment statuses\n* `error` - Failed payment. Data is incorrect\n* `failure` - Failed payment\n* `reversed` - Payment refunded\n* `success` - Successful payment\nStatuses that required payment confirmation\n* `3ds_verify` - 3DS verification is required.\n To finish the payment you will require a [3ds_verify](https://www.liqpay.ua/en/doc/api/confirmation/3ds)\n* `cvv_verify` - Sender's card CVV is required. To finish the payment you will require a [cvv_verify](https://www.liqpay.ua/en/doc/api/confirmation/CVV)\n`otp_verify` OTP confirmation is required. OTP is sent to a customer phone number.\n To finish the payment you will require a [otp_verify](https://www.liqpay.ua/en/doc/api/confirmation/OTP)\n* `receiver_verify` - Receiver additional data is required. To finish the payment you will require a [receiver_verify](https://www.liqpay.ua/en/doc/api/confirmation/receiver_verify)\n* `sender_verify` - Sender's additional data is required.\n To finish the payment you will require a [sender_verify](https://www.liqpay.ua/en/doc/api/confirmation/sender_verify)\nOther payment statuses\n* `wait_accept` - Money are withdrawn from client but the store is still not verified. If the store is not activated for 60 days, payment will be automatically cancelled\n* `wait_secure` - Payment is verified",
                      "example": "success",
                      "examples": [
                        "success"
                      ]
                    },
                    "transaction_id": {
                      "type": "number",
                      "description": "Id transactions in the LiqPay system",
                      "example": 165172,
                      "examples": [
                        165172
                      ]
                    },
                    "type": {
                      "type": "string",
                      "description": "Payment type",
                      "example": "buy",
                      "examples": [
                        "buy"
                      ]
                    },
                    "version": {
                      "type": "integer",
                      "enum": [
                        3
                      ],
                      "default": 3,
                      "description": "Version API",
                      "example": 3,
                      "examples": [
                        3
                      ]
                    },
                    "dcc_allowed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Amount of payment in alternative currency",
                            "example": 3.5984,
                            "examples": [
                              3.5984
                            ]
                          },
                          "commission": {
                            "type": "number",
                            "description": "Commission on payment in alternative currency",
                            "example": 0.0,
                            "examples": [
                              0.0
                            ]
                          },
                          "currency": {
                            "type": "string",
                            "description": "Alternative currency",
                            "example": "USD",
                            "examples": [
                              "USD"
                            ]
                          },
                          "rate": {
                            "type": "number",
                            "description": "Conversion rate",
                            "example": 27.7905,
                            "examples": [
                              27.7905
                            ]
                          }
                        }
                      },
                      "description": "Data of alternative amount for payment with DCC"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/request?path=internet_acquiring.privat_pay": {
      "post": {
        "summary": "Internet acquiring. PrivatPay button",
        "operationId": "internet_acquiring/privat_pay",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API"
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "payment_prepare"
                    ],
                    "default": "payment_prepare"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH"
                    ],
                    "description": "Payment currency"
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description"
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop"
                  },
                  "action_payment": {
                    "type": "string",
                    "enum": [
                      "pay",
                      "hold",
                      "subscribe",
                      "paydonate"
                    ],
                    "description": "Transaction type. Possible values:\n* `pay` - payment\n* `hold` - amount of hold on sender's account\n* `subscribe` - regular [payment](https://www.liqpay.ua/en/doc/api/internet_acquiring/subscription)\n* `paydonate` - donation"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL of your shop where the buyer would be redirected after completion of the purchase"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "amount",
                  "currency",
                  "description",
                  "order_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/request?path=internet_acquiring.apay.encrypted_token": {
      "post": {
        "summary": "Internet acquiring. Apple Pay. Encrypted token",
        "operationId": "internet_acquiring/apay/encrypted_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API"
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "pay",
                      "hold"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH"
                    ],
                    "description": "Payment currency"
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description"
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Payer's phone number. The OTP-password will be sent to this telephone number to confirm your payment, and the linked payer's LiqPay cabinet. The telephone number should be indicated in the international format (Ukraine `+380`)",
                    "example": "+380950000001",
                    "examples": [
                      "+380950000001",
                      "380950000001"
                    ]
                  },
                  "paytype": {
                    "type": "string",
                    "enum": [
                      "apay_tavv"
                    ],
                    "default": "apay_tavv"
                  },
                  "tavv": {
                    "type": "string",
                    "description": "A cryptogram is a dynamic one-time code for each transaction that accompanies a token. It is obtained when decrypting payment data from the Apple device"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL of your shop where the buyer would be redirected after completion of the purchase"
                  },
                  "server_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL API in your store for notifications of payment status change (`server` -> `server`). [Learn more](https://www.liqpay.ua/en/doc/api/callback)"
                  },
                  "card": {
                    "type": "string",
                    "description": "Card token obtained by decrypting data from an Apple device"
                  },
                  "card_exp_month": {
                    "type": "string",
                    "description": "Expiry month of the payer's token",
                    "example": "08",
                    "examples": [
                      "08"
                    ]
                  },
                  "card_exp_year": {
                    "type": "string",
                    "description": "Expiry year of the payer's token",
                    "example": "19",
                    "examples": [
                      "19"
                    ]
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "sender_address": {
                        "type": "string",
                        "description": "Sender's address"
                      },
                      "sender_city": {
                        "type": "string",
                        "description": "Sender's city"
                      },
                      "sender_country_code": {
                        "type": "string",
                        "description": "Country code of the sender. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)"
                      },
                      "sender_first_name": {
                        "type": "string",
                        "description": "Sender's first name"
                      },
                      "sender_last_name": {
                        "type": "string",
                        "description": "Sender's last name"
                      },
                      "sender_postal_code": {
                        "type": "string",
                        "description": "Sender's zip code"
                      }
                    },
                    "description": "Sender parameters"
                  },
                  "split_rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "public_key": {
                          "type": "string",
                          "description": "Public key - the store identifier",
                          "example": "i000000001",
                          "examples": [
                            "i000000001",
                            "i000000002"
                          ]
                        },
                        "amount": {
                          "type": "number",
                          "description": "Payment amount",
                          "example": 1,
                          "examples": [
                            1,
                            2
                          ]
                        },
                        "commission_payer": {
                          "type": "string",
                          "enum": [
                            "sender",
                            "receiver"
                          ],
                          "default": "sender",
                          "description": "Commission payer",
                          "example": "sender",
                          "examples": [
                            "sender",
                            "receiver"
                          ]
                        },
                        "server_url": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 510,
                          "description": "URL API in your store for notifications of payment status change (`server` -> `server`)",
                          "example": "https://server1/callback",
                          "examples": [
                            "https://server1/callback",
                            "https://server2/callback"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "description": "Payment description"
                        }
                      },
                      "required": [
                        "amount"
                      ]
                    },
                    "description": "Payment with split amount for a few receivers. This parameter is a `JSON` array containing split rules. While using `split_rules` parameter, card is being charged and amount is split and credited to a few receivers. If you need to convey your purpose for each amount use the parameter `description`. Acquiring fee is being charged from each shop in the `split_rules`"
                  },
                  "dae": {
                    "type": "string",
                    "description": "Detail Addenda.\n\nPossible `JSON` object:\n```\n{\n  \"airLine\": \"Avia\", // airline abbreviation, max 4 symbols.\n  \"ticketNumber\": \"ACSFD12354SA\", // ticket number, max 15 symbols. \n  \"passengerName\": \"John Doe\", // passenger name, max 29 symbols.\n  \"flightNumber\": \"742\", // flight number, max 5 number.\n  \"originCity\": \"DP\", // departure city/airport code, max 5 symbols.\n  \"destinationCity\": \"NY\", // arrival city/airport code, max 5 symbols.\n  \"departureDate\": \"100514\" // departure date in format YYMMDD, max 6 number.\n}\n```"
                  },
                  "info": {
                    "type": "string",
                    "description": "Information to add details to payment",
                    "example": "External information for payments",
                    "examples": [
                      "External information for payments"
                    ]
                  },
                  "product_category": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Product category in your shop"
                  },
                  "product_description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Product description in your shop"
                  },
                  "product_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Product name in your shop"
                  },
                  "product_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2000,
                    "description": "Product page address"
                  }
                },
                "required": [
                  "version",
                  "public_key",
                  "action",
                  "amount",
                  "currency",
                  "description",
                  "order_id",
                  "paytype",
                  "tavv",
                  "card",
                  "card_exp_month",
                  "card_exp_year"
                ]
              }
            }
          }
        }
      }
    },
    "/api/request?path=internet_acquiring.apay.decrypted_token": {
      "post": {
        "summary": "Internet acquiring. Apple Pay. Decrypted token",
        "operationId": "internet_acquiring/apay/decrypted_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "default": 3,
                    "description": "Version API"
                  },
                  "public_key": {
                    "type": "string",
                    "description": "Public key - the store identifier. You can get the key in the [store settings](https://www.liqpay.ua/en/adminbusiness)"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "pay",
                      "hold"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount",
                    "example": 5.0,
                    "examples": [
                      5.0,
                      7.34
                    ]
                  },
                  "applepay_token": {
                    "type": "string",
                    "description": "JSON string from the token parameter (obtained from Apple) encoded with base64"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH"
                    ],
                    "description": "Payment currency"
                  },
                  "description": {
                    "type": "string",
                    "description": "Payment description"
                  },
                  "order_id": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique purchase ID in your shop"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Payer's phone number. The OTP-password will be sent to this telephone number to confirm your payment, and the linked payer's LiqPay cabinet. The telephone number should be indicated in the international format (Ukraine `+380`)",
                    "example": "+380950000001",
                    "examples": [
                      "+380950000001",
                      "380950000001"
                    ]
                  },
                  "paytype": {
                    "type": "string",
                    "enum": [
                      "apay"
                    ],
                    "default": "apay"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "uk",
                      "en"
                    ],
                    "default": "uk",
                    "description": "Customer's language"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL of your shop where the buyer would be redirected after completion of the purchase"
                  },
                  "server_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 510,
                    "description": "URL API in your store for notifications of payment status change (`server` -> `server`). [Learn more](https://www.liqpay.ua/en/doc/api/callback)"
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "sender_address": {
                        "type": "string",
                        "description": "Sender's address"
                      },
                      "sender_city": {
                        "type": "string",
                        "description": "Sender's city"
                      },
                      "sender_country_code": {
                        "type": "string",
                        "description": "Country code of the sender. Digital [ISO 3166-1 code](https://en.wikipedia.org/wiki/ISO_3166-1)"
                      },
                      "sender_first_name": {
                        "type": "string",
                        "description": "Sender's first name"
                      },
                      "sender_last_name": {
                        "type": "string",
                        "description": "Sender's last name"
                      },
                      "sender_postal_code": {
                        "type": "string",
                        "description": "Sender's zip code"
                      }
                    },
                    "description": "Sender parameters"
                  },
                  "split_rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "public_key": {
                          "type": "string",
                          "description": "Public key - the store identifier",
                          "example": "i000000001",
                          "examples": [
                            "i000000001",
                            "i000000002"
                          ]
                        },
                        "amount": {
                          "type": "number",
                          "description": "Payment amount",
                          "example": 1,
                          "examples": [
                            1,
                            2
                          ]
                        },
                        "commission_payer": {
                          "type": "string",
                          "enum": [
                            "sender",
                            "receiver"
                          ],
                          "default": "sender",
                          "description": "Commission payer",
                          "example": "sender",
                          "examples": [
                            "sender",
                            "receiver"
                          ]
                        },
                        "server_url": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 510,
                          "description": "URL API in your store for notifications of payment status change (`server` -> `server`)",
                          "example": "https://server1/callback",
                          "examples": [
                            "https://server1/callback",
                            "https://server2/callback"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "description": "Payment description"
                        }
                      },
                      "required": [
                        "amount"
                      ]
                    },
[...]
